body {background-color: #061621;
position: relative;
display: flex;
flex-direction: column;
min-height: 100vh;
justify-content: center;
align-items: center;
}

#logo {
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px; /* Optional: adds a little spacing from the edges */
    z-index: 1000;
}


#lilleLogo {
    margin: auto;
    display: block
}

#betal {
font-family: raleway;
color: white;
text-align: center;
font-size: 300%;
}

#telefonnr {
font-family: raleway;
color: white;
text-align: center;
font-size: 100%;
}

.container {
    width: 680px;
}
.entryarea {
    position: relative;
    height: 80px;
    line-height: 80px;
}
input {
    position: absolute;
    width: 100%;
    outline: none;
    font-size: 2.2em;
    padding: 0 30px;
    line-height: 80px;
    border-radius: 10px;
    border: 2px solid #f0ffff;
    background: transparent;
    transition: 0.1s ease;
    z-index: 1111;
}
.labelline {
    position: absolute;
    font-size: 1.6em;
    color: #f0ffff;
    padding: 0 25px;
    margin: 0 20px;
    background-color: #061621;
    transition: 0.2 ease;
}
input:focus,
input:valid{
    color:aliceblue;
    border: 4px solid aliceblue;
}
input:focus + .labelline,
input:valid + .labelline{
    color:aliceblue;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    transform: translate(-15px, -16px) scale 0.88;
    z-index: 1111;
}


.back-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #0070ba; /* MobilePay blue */
  color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.back-button:hover {
  background-color: #005fa3;
  transform: translateY(-2px);
}

.buttonarea {
  display: inline-block;
  margin-left: 20px; /* Adjust spacing as needed */
}

#submitButton {
  padding: 10px 20px;
  background-color: #0070ba;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#submitButton:disabled {
  background-color: #555;
  cursor: not-allowed;
}

#submitButton:hover:enabled {
  background-color: #005fa3;
}
